In [ ]:

"""
pip install pandas
pip install --upgrade pandas
"""

'''
Tipo Inteiro (int)
Ponto Flutuante ou Decimal (float)
String (str)
String (Object)
Data (datetime)

'''

In [1]:
import pandas as pd

In [8]:
df = pd.read_excel(r"C:\Users\gusta\OneDrive\Documentos\Cursos\MongoDB\08.MongoDB\MeusScripts\Arquivos\VendasProj2.xlsx")
df

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2022-06-05,1,1,Moda,635,Canadá,3,Calça social,3,1188,20,23760,0.00
1,2021-08-07,2,1,Moda,636,Alemanha,4,Camisa social,3,574,20,11480,0.00
2,2022-04-15,3,4,Acessórios,637,França,12,Relogio,3,1088,15,16320,0.00
3,2022-07-12,4,4,Acessórios,636,Alemanha,11,Pulseiras,3,570,15,8550,0.00
4,2023-03-25,5,4,Acessórios,638,México,2,Braceletes,3,538,15,8070,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,2021-07-23,1248,5,Automitivos,637,França,8,Limpa vidros,260,388,300,116400,111375.00
1248,2021-08-08,1249,5,Automitivos,638,México,8,Limpa vidros,260,479,300,143700,24570.00
1249,2022-12-12,1250,1,Moda,638,México,4,Camisa social,5,154,7,1078,1436.40
1250,2022-10-16,1251,1,Moda,635,Canadá,4,Camisa social,10,186,7,1302,759.15
1251,2021-08-04,1252,2,Calçados,639,USA,13,Sapatilha,250,784,12,9408,3250.80

###                              Conversoes de dados

In [11]:
df['Id Venda'].dtype

dtype('int64')

In [ ]:
print(df['id'].dtype)

In [ ]:
print(df['created_at'].dtypes)
print(df['first_name'].dtypes)
print(df['id'].dtype)

In [ ]:
df

In [ ]:
for coluna in df.columns:
    print(f"Coluna: {coluna}, Tipo de dados: {df[coluna].dtypes}")

In [ ]:
df

In [ ]:
df['id'] = df['id'].astype(float)

In [ ]:
print(df['id'].dtype)

In [ ]:
df['number'] = df['number'].astype(str)

In [ ]:
print(df['number'].dtype)

In [ ]:
for coluna in df.columns:
    print(f"Coluna: {coluna}, Tipo de dados: {df[coluna].dtypes}")

## Conversao Datas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"K:\Python\Arquivos\Origem\arquivos_csv\Clientes.csv", delimiter=',')
df

In [ ]:
print(df['created_at'].dtypes)

In [ ]:
# Converter a coluna 'created_at' para o formato de data e hora
df['created_at'] = pd.to_datetime(df['created_at'])

In [ ]:
print(df['created_at'].dtypes)

In [ ]:
# Filtrar os dados para o intervalo de anos entre 2018 e 2020
df_filtrado = df[(df['created_at'].dt.year >= 2018) & (df['created_at'].dt.year <= 2020)]
df_filtrado

In [ ]:
# Filtrar somente o ano de 2018 e o mês de janeiro
df_dt2 = df[(df['created_at'].dt.year == 2018) & (df['created_at'].dt.month == 1)]

# Imprimir o DataFrame filtrado
df_dt2.head(30)

Conversao formato brasileiro

In [ ]:
df

In [ ]:
# Converter a coluna 'created_at' para o formato de data no padrão brasileiro
df['created_at'] = df['created_at'].dt.strftime('%d/%m/%Y')

In [ ]:
df

## converter padrao BR no primeiro comando

In [ ]:
import pandas as pd
df = pd.read_csv(r"K:\Python\Arquivos\Origem\arquivos_csv\Clientes.csv", delimiter=',')
df['created_at'] = pd.to_datetime(df['created_at'])
df['created_at'] = df['created_at'].dt.strftime('%d/%m/%Y %H:%M:%S')
df